body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0; 
    background-color: #F5E8DD;
}



    header{
        background-color: #40513B;
        color:  #F5E8DD;
        padding: 40px 0;
        
    }
    
    header h1{
        margin-bottom: 30px;
    }
    header h1,nav{
        text-align: center;
    
    }
    
    nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    nav ul li{
        display: inline;
        margin-right: 20px;
        font-size: large;
    }
    
    nav a {
        text-decoration: none;
        color: #F5E8DD;
        font-weight: bold;
    }

.admin-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color:#D9EDBF;
    border-radius: 5px;
}

#clickAndMoveInfo {
    margin-bottom: 55px;
}
.veri {
    margin-bottom: 20px; /* Her veri arasında 20px boşluk bırak */
}
.admin-container .veri:not(:first-child) {
    margin-top: 55px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

footer{
    background-color: #609966;
    color: #F5E8DD;
    padding: 10px 0;
    text-align: center;
    margin-top: 430px;
}
