body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0; 
    background-color: #F5E8DD;
}



    header{
        background-color: #40513B;
        color:  #F5E8DD;
        padding: 40px 0;
        
    }
    
    header h1{
        margin-bottom: 30px;
    }
    header h1,nav{
        text-align: center;
    
    }
    
    nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    nav ul li{
        display: inline;
        margin-right: 20px;
        font-size: large;
    }
    
    nav a {
        text-decoration: none;
        color: #F5E8DD;
        font-weight: bold;
    }

form{
    margin: 0;
    padding: 0;
}

.admin-login-form {
    display: flex;
    justify-content: center; /* Yatay hizalama */
}

.container {
    width: 60%;
    margin: 50px auto; 
    background-color:#D9EDBF;
    padding: 20px;
    margin-top: 100px;
    
    
    
}

.container h2{
    display: flex;
    justify-content: center; /* Yatay hizalama */
    margin-bottom: 40px;
    color: #40513B;
    font-size: xx-large;
    
}

.form-group{
    display: block;
    justify-content: center; /* Yatay hizalama */
    align-items: center;
    padding: 5px 0;
    margin-left: 30%;
}



.form-group label {
    display: block;
    text-align: left; /* Label'ı ortala */
    margin-right: 5px; /* Sağ taraftan boşluk bırak */
    color: #40513B;
    font-size: larger;
    font-weight: bold;
   
    
}

.form-group input{
    flex: 1; /* Input alanının genişliğini esnek yap */
    text-align: center; /* Input alanını ortala */
    margin-left: 5px; /* Sol taraftan boşluk bırak */
    width: 60%; /* Input alanının genişliği */
    background-color: #F5E8DD;
}






.form-group button {
    width: 30%;
    margin-left: 10%;
    margin-top: 15px;
    padding: 8px 8px;
    background-color:#40513B !important;
    color: #F5E8DD;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer{
    background-color: #609966;
    color: #F5E8DD;
    padding: 10px 0;
    text-align: center;
    margin-top: 430px;
}

@media screen and (max-width: 480px) {
    header{
        margin-bottom: 20px;
    }
    header h1 {
        font-size: 20px;
        
    }

    
    
    nav ul li {
        margin-right: 5px;
        font-size: 15px;
        margin-right: 25px;
    }
    
    .container {
        
        width: 80%;
        margin: 0 auto; 
        padding: 20px 0; 
    }
    
    .container h2 {
        font-size: 18px;
    }

}